.hero-section {
  height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/dish_background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
}
.col-md-4 {
  text-align: center;
}

/* About US  */
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column {
  padding: 20px;
}

.image-column img {
  width: 100%;
  height: auto;
}

.text-column {
  text-align: center;
  border-radius: 5px;
  height: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contact */
.contact-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 15px;
}
/* footer */

.icons {
  height: 15px;
  width: 15px;
}
